<div class="show-box">
  <div class="functional-box">
    <el-button-group>
      <el-button type="primary" icon="caret-right" (click)="run()"></el-button>
      <el-button type="primary" icon="share"></el-button>
      <el-button type="primary" icon="delete"></el-button>
    </el-button-group>
  </div>
  <div class="file">
    <!-- <codemirror [(ngModel)]="code" [config]="cmOptions">
    </codemirror> -->
    <div>
        <el-button [plain]="true" type="success" (click)="editFlag = 1">JavaScript</el-button>
        <el-button [plain]="true" type="warning"  (click)="editFlag = 2">Html & Css</el-button>
    </div>
    <app-edit-code #codeHtmlCss *ngIf="editFlag === 1"></app-edit-code>
    <app-edit-code #codeJs *ngIf="editFlag === 2"></app-edit-code>
  </div>
  <div class="scroll-01"></div>
  <div class="effect">
    <iframe #frame src="assets/cesium/Apps/HelloWorld.html" frameborder="0" width="100%" height="100%"></iframe>
  </div>
  <ul class="example">
    <li *ngFor="let item of exampleList" [ngStyle]="{background: item.background}">
      {{item.id}}
    </li>
  </ul>
</div>
